{% extends "home/wrapper.html" %}

{% block title %}ABOUT{% endblock %}
{% block a %} active {% endblock %}
{% block content %}
<p class="lead">
    He's strange man <br>
    But I'm gonna like him <br>
    He's a loop-man <br>
    But I wanna tell him <br><br>


    I've just been in "There" <br>
    He has come in "Here" <br>
    We need be in touch <br>
    It'll be a being-crash <br><br>

    He's strange me <br>
    But I'm gonna like him <br>
    He's a loop-me <br>
    But I wanna tell him <br><br>

    I'm already going "Here" <br>
    He is leaving "There" <br>
    We need to rush <br>
    It's a being-crash <br><br>

    I'm strange man <br>
    But you wanna like me <br>
    I'm a loop-man <br>
    But you're gonna tell me <br><br>

    We're strange men <br>
    It's been our wish <br>
    We're loops-men <br>
    It's the being-crash <br>
</p>
{% endblock %}