{% extends "home/wrapper.html" %}

{% load static %}

{% block title %}About{% endblock %}
{% block a %} active {% endblock %}
{% block content %}

<embed src="{% static 'home/Резюме.pdf' %}" width="1050px" height="1000px">

{#<div class="row padding">#}
{#    <div class="col-md-6 mt-3 ml-5 text-dark">#}
{#        <h3 class="display-5">#}
{#            Данил Оверчук#}
{#        </h3>#}
{#        <p align="justify" class="text-dark">#}
{#            Python разработчик разработчик<br>#}
{#            Санкт - Петербург<br><br>#}
{#            github.com/nbox363<br>#}
{#            overchukdo@gmail.com<br>#}
{#            t.me/overchukdo<br>#}
{#        </p>#}
{#    </div>#}
{#    <div class="col-md-4 mt-3 text-dark" align="right">#}
{#        <img src="{% static 'home/IMG_9029.JPG'%}" class="col-md-12">#}
{#    </div>#}
{#</div>#}
{##}
{#<div class="mt-5 ml-5">#}
{#    <h3>Навыки</h3><hr><br>#}
{#    <p>#}
{#        • Python • Django • Flask • Bootstrap • CSS • HTML • SQL • ООП • Linux • Git#}
{#    </p>#}
{#</div>#}
{#    <div class="mt-5 ml-5">#}
{#        <h3>Описание</h3>#}
{#        <hr>#}
{#        <br>#}
{#        <p>#}
{#        Lorem Lorem Lorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem Lorem#}
{#        </p>#}
{#    </div>#}
{#    <div class="mt-5 ml-5">#}
{#        <h3>Образование</h3>#}
{#        <hr>#}
{#        <br>#}
{#        <p>#}
{#            Lorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem Lorem#}
{#    </div>#}
{#    <div class="mt-5 ml-5">#}
{#        <h3>Доп образоание</h3>#}
{#        <hr>#}
{#        <br>#}
{#        <p>#}
{#            • Python • Django • Flask • Bootstrap • CSS • HTML • SQL • ООП • Linux • Git#}
{#        </p>#}
{#    </div>#}
{#    <div class="mt-5 ml-5">#}
{#        <h3>Что я знаю</h3>#}
{#        <hr>#}
{#        <br>#}
{#        <p>#}
{#            • Python • Django • Flask • Bootstrap • CSS • HTML • SQL • ООП • Linux • Git#}
{#        </p>#}
{#    </div>#}
{#    <div class="mt-5 ml-5">#}
{#        <h3>Навыки</h3>#}
{#        <hr>#}
{#        <br>#}
{#        <p>#}
{#            • Python • Django • Flask • Bootstrap • CSS • HTML • SQL • ООП • Linux • Git#}
{#        </p>#}
{#    </div>#}
{% endblock %}