{% extends "home/wrapper.html" %}

{% block title %}CONTACT{% endblock %}
{% block c %} active {% endblock %}
{% block content %}

<p class="lead">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde a dolore quo sequi, neque exercitationem
    nesciunt vel minus. Officia numquam dignissimos ad voluptas ullam labore ipsum atque voluptatum iusto
    quae?
</p>

<div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
        <a href="{% url 'contact' %}"><button class="btn btn-warning btn-lg" type="button">Write me</button></a>
    </div>
</div>
{% endblock %}