{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>

    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js">
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'home/base.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {# navbar block #}
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

        <a href="{% url 'home' %}" class="navbar-brand">Nbox
            <img src="{% static 'home/nav.PNG' %}">site
        </a>

        {# block for mini menu for phone #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item {% block a %}{% endblock a%}">
                    <a href="{% url 'about' %}" class="nav-link">About me</a>
                </li>


                <li class="nav-item dropdown {% block ar %}{% endblock ar %}">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Articles
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'articles' %}">
                            Articles
                        </a>

                        <a href="#" class="nav-link dropdown-toggle" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="margin-left: 15px">
                            Categories
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for category in categories %}
                                    <a class="dropdown-item" href="{% url 'category' category %}">
                                        {{ category }}
                                    </a>
                                {% endfor %}
                        </div>
                    </div>
                </li>

                <li class="nav-item {% block w %}{% endblock w%}">
                    <a href="{% url 'works' %}" class="nav-link">
                        My works
                    </a>
                </li>


                {% if user.is_authenticated %}
                     <li class="nav-item {% block lo %}{% endblock lo%}">
                         <a href="{% url 'logout' %}" class="nav-link">
                             Logout
                         </a>
                     </li>
                {% else %}
                     <li class="nav-item {% block l %}{% endblock l%}">
                         <a href="{% url 'login' %}" class="nav-link">
                             Login
                         </a>
                     </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    {# block content #}
    <div class="container">
        <div class="row jumbotron" style="margin-bottom: 0;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>

    {# block footer #}
    <footer class="container-fluid">
        <div class="container-fluid">
            <div class="row padding text-center">
                <div class="col-12" style="margin-bottom: -10px; margin-top: 5px;">
                    <h5>My Contacts</h5>
                </div>
                <div class="col-12 social padding">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>