{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>

    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js">
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'home/base.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>



<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

        <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'home/nav.PNG' %}"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block h %}{% endblock %}">
                    <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item {% block a %}{% endblock %}">
                    <a href="{% url 'about' %}" class="nav-link">About me</a>
                </li>

                <li class="nav-item {% block c %}{% endblock %}">
                    <a href="{% url 'contact' %}" class="nav-link">Contacts</a>
                </li>

                <li class="nav-item dropdown {% block p %}{% endblock %}">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'articles' %}">My articles</a>
                        <a class="dropdown-item" href="{% url 'works' %}">My work</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>


<footer class="fixed-bottom">
    <div class="container">
        <span class="text-muted">My great fixed footer.</span>
    </div>
</footer>


</html>