{% extends "home/wrapper.html" %}

{% load static %}

{% block title %} My works {% endblock %}

{% block w %} active {% endblock %}

{% block content %}

    <div class="container-fluid padding rounded-circle">
        <div class="row alert text-center">
            <div class="col-12">
                <h1 class="display-4">My bitches</h1>
            </div>
            <hr>
        </div>
    </div>

    <div class="container padding">
        <div class="row padding">

            <div class="col-md-7">
                <div class="card border border-info" style="width: 570px">
                    <img src="{% static 'works/1.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">
                            Nbox site
                        </h4>
                        <p class="card-text">
                            This is my first trial project
                        </p>
                        <a target="blank" href="https://github.com/nbox363/nbox_site" class="btn btn-warning">
                            Look
                        </a>
                    </div>
                </div>
                <br>
                <hr>
                <br>
            </div>

            <div class="col-md-4"><br>
                <p align="justify">
                    This project I did with try Python and Django.
                <p>I learned more of
                    basic principles of programming such as the themself Python and Django, Bootstrap,
                    of course HTML5 and CSS3, and I learned more of things about web-technology</p>
                </p>
            </div>

            <div class="col-md-8" style="height: 370px; width: 610px">
                <div class="card border border-info">
                    <div class="carousel slide" data-ride="carousel" id="slides">
                        <div class="card-body">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'works/2.png'%}" style="height: 370px; width: 610px">
                                </div>

                                <div class="carousel-item">
                                    <img src="{% static 'works/3.png' %}" style="height: 370px; width: 610px">
                                </div>

                                <div class="carousel-item">
                                    <img src="{% static 'works/4.png' %}" style="height: 370px; width: 610px">
                                </div>
                                <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black">

                                    </span>
                                </a>
                                <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true" style="color: black">

                                    </span>
                                </a>

                                <style>
                                    .carousel-control-prev-icon, .carousel-control-next-icon {
                                        height: 50px;
                                        width: 50px;
                                        outline: black;
                                        background-color: rgba(0, 0, 0, 0.3);
                                        background-size: 100%, 100%;
                                        border-radius: 50%;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4"><br>
                <p align="justify">
                    This project I did with try Python and Django.
                </p>
                <p align="justify">I learned more of
                    basic principles of programming such as the themself Python and Django, Bootstrap,
                    of course HTML5 and CSS3, and I learned more of things about web-technology
                </p>
                <a target="blank" href="https://github.com/nbox363/nbox_site" class="btn btn-outline-info">
                    Look
                </a>
            </div>


        </div>
    </div>


{% endblock %}