{% extends "home/wrapper.html" %}

{% load static %}

{% block title %} My works {% endblock %}

{% block w %} active {% endblock %}

{% block content %}

{#    <div class="container-fluid padding">#}
{#        <div class="row alert text-center">#}
{#            <div class="col-12">#}
{#                <h1 class="display-4">My bitches</h1>#}
{#            </div>#}
{#            <hr>#}
{#        </div>#}
{#    </div>#}

    <div class="container padding">
        <div class="row padding">
            <div class="col-md-7">
                <div class="card" style="width: 570px">
                    <img src="{% static 'works/1.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">
                            Nbox site
                        </h4>
                        <p class="card-text">
                            This is my first trial project
                        </p>
                        <a target="blank" href="https://github.com/nbox363/nbox_site" class="btn btn-warning">
                            Look
                        </a>
                    </div>
                </div><br><hr><br>
            </div>

            <div class="col-md-4"><br>
                <p align="justify">
                    This project I did with try Python and Django.
                    <p>I learned more of
                    basic principles of programming such as the themself Python and Django, Bootstrap,
                of course HTML5 and CSS3, and I learned more of things about web-technology</p>
                </p>
            </div>


            <div class="col-md-7">
                <div class="card" style="width: 570px">
                    <img src="https://www.python.org/static/img/python-logo.png" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">LOLOLO</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate alias a
                            deleniti?</p>
                        <a href="#" class="btn btn-warning">Look</a>
                    </div>
                </div><br>
            </div><hr><br>
        </div>
    </div>

{% endblock %}