{% extends "home/wrapper.html" %}

{% block title %}Change Password{% endblock title %}

{% block content %}

    <div class="container col-md-7">
        <form class="text-center border border-secondary p-5" method="POST">

            {% csrf_token %}

            <p class="h4 mb-4">
                Change password
            </p>

            <!-- Old Password -->
            <input id="id_old_password" type="password" class="form-control mb-4" name="old_password" placeholder="old password">

            <!-- New Password 1 -->
            <input id="id_new_password1" type="password" class="form-control mb-4" name="new_password1" placeholder="new password">

            <!-- New Password 2 -->
            <input id="id_new_password2" type="password" class="form-control mb-4" name="new_password2" placeholder="confirm new password">

        </form>
    </div>

{% endblock content %}