{% extends "home/wrapper.html" %}

{% block title %}Login{% endblock title %}

{% block l %}active{% endblock l %}

{% block content %}

    <!-- Default form login -->
    <div class="container col-md-7">
        <form class="text-center border border-secondary p-5" method="POST">

            {% csrf_token %}

            <p class="h4 mb-4">
                Sign in
            </p>

            <!-- Username -->
            <input type="text" class="form-control mb-4" name="username" placeholder="Username">

            <!-- Password -->
            <input type="password" class="form-control mb-4" name="password" placeholder="Password">

            <!-- Sign in button -->
            <button class="btn btn-secondary btn-block my-4" type="submit">
                Sign in
            </button>

            <!-- Register -->
            <p>Not a member?
                <a href="{% url 'register' %}" class="btn btn-outline-info">
                    Register
                </a>
            </p>

        </form>
    </div>

{% endblock content %}