{% extends "home/wrapper.html" %}

{% block title %}Register{% endblock title %}
{% block r %}active{% endblock r %}

{% block content %}

    <!-- Default form register -->
    <div class="container col-md-7 border border-secondary p-5">
        <form class="text-center" method="POST">
            {% csrf_token %}

            <p class="h4 mb-4">
                Sign up
            </p>
            {{ form.as_p }}
            <button class="btn btn-secondary my-4 btn-block" type="submit">
                Sign up
            </button>
        </form>
    </div>

{% endblock content %}