{% extends "home/wrapper.html" %}

{% block title %}Register{% endblock title %}
{% block r %}active{% endblock r%}

{% block content %}

    <!-- Default form register -->
    <div class="container col-md-7 border border-secondary p-5">
        <form class="text-center" method="POST">
            {% csrf_token %}
            <p class="h4 mb-4">
                Sign up
            </p>
            {{ form.as_p }}
            {{ field.is_hidden }}

{##}
{#            <div class="form-row mb-4">#}
{#                <div class="col">#}
{#                    <!-- First name -->#}
{#                    <input id="id_first_name" type="text" name="first_name" class="form-control"#}
{#                           placeholder="First name">#}
{#                </div>#}
{#                <div class="col">#}
{#                    <!-- Last name -->#}
{#                    <input id="id_last_name" name="last_name" type="text" class="form-control" placeholder="Last name">#}
{#                </div>#}
{#            </div>#}
{##}
{#            <!-- Username -->#}
{#            <input type="text" name="username" id="id_username" class="form-control mb-4" placeholder="Username">#}
{##}
{#            <!-- E-mail -->#}
{#            <input id="id_email" name="email" type="email" class="form-control mb-4" placeholder="E-mail">#}
{##}
{#            <!-- Password -->#}
{#            <input id="id_password1" name="password1" autocomplete="new-password" type="password" class="form-control"#}
{#                   placeholder="Password">#}
{#            <small class="form-text text-muted mb-4">#}
{#                At least 8 characters and 1 digit#}
{#            </small>#}
{##}
{#            <input id="id_password2" name="password2" autocomplete="new-password" type="password" class="form-control"#}
{#                   placeholder="Repeat the password">#}
{#            <small class="form-text text-muted mb-4">#}
{#                For the check your password#}
{#            </small>#}


            <!-- Sign up button -->
            <button class="btn btn-secondary my-4 btn-block" type="submit">Sign up</button>
        </form>
    </div>

{% endblock content %}