{% extends "home/wrapper.html" %}

{% block title %} create article {% endblock %}


{% block content %}
<form method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li><em>{{ error|escape }}</em></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for field in form.visible_fields %}
    {% if field.errors %}
    <ul>
        {% for error in field.error %}
        <li><em>{{ error|escape }}</em></li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>{{ field.label_tag }}<br>{{ field }}<br>
        {{ field.help_text }}</p>
    {% endfor %}
    <p><input type="submit" value="Добавить"></p>
</form>
{% endblock %}