{% extends "home/wrapper.html" %}

{% block title %} {{ articles.title }} {% endblock title %}

{% block content %}

    <hr><h2 class="text-dark">{{articles.title}}</h2><hr><br>
    <p class="my_p">{{articles.content|safe|linebreaks}}</p><br><br>
    <h6 class="text-info" align="right">{{articles.date|date:"d-m-Y"}}</h6><hr><br>

    <h3>Comments</h3>
    {% if not articles.comments.all %}
        <p>No comment Yet</p>
    {% else %}
        {% for comment in articles.comments.all %}
            <h4 class="text-info">{{ comment.author }}</h4>
            {{ comment.comment_text }}
        {%  endfor %}
    {% endif %}<br><br>
    {% if user.is_authenticated %}
        <a href="{% url 'add_comment' articles.pk %}">
            <button type="button" class="btn btn-outline-secondary btn-lg">Add one</button>
        </a>
    {% endif %}
    <hr>
    <br>
    <br>
    <a href="{% url 'articles' %}">
        <button type="button" class="btn btn-outline-secondary btn-lg">Back</button>
    </a>

{% endblock content %}