{% extends "home/wrapper.html" %}

{% load static %}

{% block title %} Articles {% endblock %}

{% block ar %} active {% endblock %}

{% block content %}

    {% for post in articles %}
        <a class="text-dark" href="{% url 'article' post.pk %}">
            <h3>
                {{post.title}}
            </h3>
        </a>

        <h6 class="text-secondary">
            {{post.date|date:"d-m-Y"}}
        </h6><hr>
    {% endfor %}

    {% if user.is_superuser %}
        <br><br>
        <a href="{% url 'create' %}">
            <button class="btn btn-outline-secondary btn-lg" type="button">
                Add new article
            </button>
        </a>
    {% endif %}

{% endblock %}