{% extends "home/wrapper.html" %}

{% load static %}

{% block title %} Articles {% endblock %}

{% block ar %} active {% endblock %}

{% block content %}
    <div class="container">
        {% for post in articles %}
            <a class="my_a" href="{% url 'article' post.pk %}">
                <h3>
                    {{ post.title }}
                </h3>
            </a>
            <h5>
                Category:
                <a class="badge badge-info" href="{% url 'category' post.category|slugify %}">
                    {{ post.category }}
                </a>
            </h5>
            <h6>
                Date: {{ post.date|date:"d.m.Y" }}
            </h6>
            <hr>
        {% endfor %}
    </div>

{% endblock %}