{% extends "home/wrapper.html" %}

{% block title %} {{ articles.title }} {% endblock title %}

{% block ar %} active {% endblock %}

{% block content %}

    <hr><h2 class="text-dark">{{articles.title}}</h2>

    <a href="{% url 'category' articles.category|slugify %}">
        <h3>{{ articles.category }}</h3>
    </a>

    <p class="my_p">{{articles.content|safe|linebreaks}}</p><br><br>
    <h6 class="text-info" align="right">{{articles.date|date:"d-m-Y"}}</h6><hr><br>

    <div class="container" style="margin-left: 100px">
        <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

                    <h3>Comments</h3><hr>

                    {% if not articles.comments.all %}
                        <p>No comment Yet</p>

                        {% if user.is_authenticated %}
                            <a href="{% url 'add_comment' articles.pk %}">
                                <button type="button" class="btn btn-outline-dark">Add one</button>
                            </a>
                        {% endif %}

                    {% else %}

                        {% for comment in articles.comments.all %}
                            <h4 class="text-info">{{ comment.author }}</h4>
                            {{ comment.comment_text }}<hr>
                        {%  endfor %}

                        {% if user.is_authenticated %}
                            <a href="{% url 'add_comment' articles.pk %}">
                                <button type="button" class="btn btn-outline-dark">Add comment</button>
                            </a>
                        {% endif %}

                    {% endif %}

                </div>
        </div>
    </div><br><hr>

    <a href="{% url 'articles' %}">
        <button type="button" class="btn btn-outline-secondary btn-lg">Back</button>
    </a><br><br><hr>

    {% if user.is_authenticated %}

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h4>Add comment... if you want</h4><p>and you now...</p>
             <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_table}}<br><br>
                    <button class="btn btn-outline-dark">
                        Add comment
                    </button>
                </form>
            </div>
        </div>

    {% endif %}



{% endblock content %}