{% extends "home/wrapper.html" %}
{% block title %} {{ category_name }} {% endblock %}


{% block content %}

    {% if category_article %}
        <h2>Category: {{ category_name }}</h2><hr>
        <ul>
            {% for article in category_article %}

                    <a class="text-dark" href="{% url 'article' article.pk %}">
                        <h3>{{ article.title }}</h3>
                    </a>

            {% endfor %}
        </ul>

    {% else %}

        Sorry

    {% endif %}
{% endblock %}