.navbar-brand img {
    width: 70px;
}

.social {
    font-size: 30px;
}

.fa-google-plus-g {color: #dd4b39;}

.fa-github {color: #fff}

.fa-telegram {color: #0088cc}

.fa-google-plus-g:hover, .fa-github:hover, .fa-telegram:hover {
    color: #ccc;
}

footer {
    background-color: #3f3f3f;
    border-top: 4px solid silver;
    color: snow;
    height: 85px;
    position: absolute;
    bottom: 0;
}

body {
    padding-bottom: 90px;
    position: relative;
    min-height: 100vh;
}

.my_a {
    color: black;
}

.my_a:hover {
    color: #17a2b8 ;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
}

img.col-md-12 {
    border-radius: 50px;
}

.code1 {
    color: #946dc8;
}

.code2 {
    color: #61AFEF;
}

.code3 {
    color: #D19A66;
}

.code4 {
    color: white;
}
