.navbar-brand img {
    width: 100px;
}

.social {
    font-size: 30px;
}

.fa-facebook {color: #3b5998;}

.fa-twitter {color: #00aced;}

.fa-google-plus-g {color: #dd4b39;}

.fa-github {color: #fff}

.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover, .fa-github:hover {
    color: #ccc;
}

footer {
    background-color: #3f3f3f;
    border-top: 4px solid silver;
    color: snow;
    height: 85px;
    position: absolute;
    bottom: 0;
}

body {
    padding-bottom: 90px;
    position: relative;
    min-height: 100vh;
}

.my_p {
    text-indent: 20px;
}